#logo {
	width:60%;
	height: auto;
	display: block;
	margin:auto;
	opacity:0.6;
	filter:alpha(opacity=30);
	-moz-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
    -webkit-transition: opacity .3s ease-in;

}

#logo:hover {
	opacity:1;
}
h2 {
	color:#ffffff;
}